@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Sunil Kumar</h3>

<ul>
    <li><strong>Mobile:</strong> <a href="tel:0410862890">0410862890</a></li>
    <li><strong>Email:</strong> <a href="mailto:dsunil75@live.com">dsunil75@live.com</a></li>
</ul>
